.PieChart{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-colo: white;
  border-radius: 8px !important;
  border: 1px solid #213a531a;
  margin-righ: 15px;
  margin-lef: 15px;
}

text{
  font-size: 11px;
  font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.iconLoading{
  display: flex;
  flex-direction: column;
  align-items: center;
}
